
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutAnaSayfa.cshtml";
}


    <div class="col-md-8">
        

        <div class="about-section">
           
            
           
        </div>
        <br />

        <h2 style="text-align:center">Site Kurucusu</h2>

        <br />
        <div class="row">
            <div class="column">
                <div class="card" style="text-align:center">
                    <img  width="200" style="margin-left: 130px" src="~/Uploads/UyeFoto/vesikalık(1).jpg" alt="">
                    <div class="container">
                        <br />
                        <h2>Hasan Said SERTKAYA</h2>
                        <p class="title">CEO</p>
                        <p>Kırıkkale Bilgisayar Mühendisliği öğrencisi Hasan Said SERTKAYA tarafından kurulmuş bir blog sitesidir.</p>
                        <p>hasansaid1999@gmail.com</p>
                        <p><button class="button">İletişim</button></p>
                    </div>
                </div>
            </div>
            @*<br />
            <div class="column">
                <div class="card">
                    <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
                    <div class="container">
                        <h2>Mike Ross</h2>
                        <p class="title">Art Director</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="/w3images/team3.jpg" alt="John" style="width:100%">
                    <div class="container">
                        <h2>John Doe</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>*@
        </div>

    </div>

